* {
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    color: #D8D8D8;
}

body {
    margin: 0;
    font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

.code {
    background-color: rgb(175, 175, 175);
    color: black;
    padding: 2px 3px 2px;
    border-radius: 3px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 14px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    background-color: #121212;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
    overflow-x: hidden;
}

.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(50, 50, 50);
}

.sidenav a:hover {
    background-color: #121212;
}

.sidenav a.active {
    background-color: #121212;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}

.topbar-button {
    border-radius: 4px;
    display: inline-block;
    padding: 10px 22px;
    text-decoration: none;
    border: 1px solid white;
    font-size: 16px;
    cursor: grab;
}

.topbar-button:hover {
    background-color: black;
    transition-duration: 0.4s;
}

.topbar {
    text-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
